{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>

<style>
    * {
    font-family: 'Comfortaa';
    font-weight: 400;
    }

    #nav {
        background-color: #ffffff;
        width: 100%; height: 50px;
        position:fixed; top: 0;

        display: flex; white-space:nowrap;align-items: center;
    }
    .navTitle {
        position: relative;
        left: 20px;
        color: #000000;

        font-family: 'Caveat', cursive;
        font-style: normal;
        font-weight: bold; font-size: 24px;
    }
</style>

<body>
    {% block body %}
    {% endblock body %}

    <div id="nav"> 
        <p class="navTitle">
            Zibub
        </p>
    </div>

</body>
</html>
