{% extends 'base.html' %}
{% load static %}

<!-- Head -->
{% block head %}
<title>
    SIGNUP | Story 9
</title>
<link rel="stylesheet" href="{% static 'story9.css' %}" />
{% endblock head %}

<!-- Body -->  
{% block body %}
    <h1> Sign-Up!</h1>

    <form method="post" action="{% url 'story9:signup' %}">
        {% csrf_token %}
        
        {% if form.errors %}
        <p>
            Input rejected.
        </p>
        {% endif %}

        {{ form }}

        <p>
            <input type="submit" value="signup">
        </p>
    </form>
{% endblock body %}