{% extends 'base.html' %}
{% load static %}

<!-- Head -->
{% block head %}
<title>
    Story 8
</title>
<link rel="stylesheet" href="{% static 'story8.css' %}" />
{% endblock head %}

<!-- Body -->
{% block body %}
<div class="container">
    <p style="font-size: x-large; font-weight:900; padding: 10px; 
    margin-top: 100px;">Find a Book</p>
    <input type="text" id="searchBox" placeholder="Search library">
    
    <table id="table">
        
    </table>

</div>

<script type="text/javascript" src="{% static 'story8.js' %}"></script>
{% endblock body %}